html {
  height: 100%;
}
.wf-loading {
  @include transition(opacity $pageTransition-time $pageTransition-ease);
  opacity: 0;
}
.wf-active,
.wf-inactive {
  opacity: 1;
}
body {
  background: $color-siteBackground;
  min-height: 100%;
  margin: 0;
  padding: $space-base * 2.5 0 0;
  position: relative;
}
hr {
  border-bottom: $border-solid;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $space-base 0;
}
.hr--flushBottom {
  margin-bottom: 0;
}
img,
picture {
  margin: 0;
  max-width: 100%;
}
section,
article,
footer {
  position: relative;
}
a {
  color: $color-azure;
  text-decoration: none;
  position: relative;
  &:hover {
    color: darken($color-azure, 5%)
  }
}
.link--text {
  &:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: transparent;
    bottom: 0;
    left: 0;
    @include transition(width $transition-time $transition-ease);
  }
  &:hover {
    &:after {
      content: " ";
      width: 100%;
      background-color: $color-azure;
    }
  }

}
article {
  margin-top: $space-base;
}
.u-full {
  padding: $space-base * 2 0;
}
header {
  @include span-columns(10);
  @include shift(1);
}
.article-who--work {
  @include media($medium-screen-up) {
    @include span-columns(6);
    @include shift(1);
  }
}
.article-who--write {
  @include media($medium-screen-up) {
    @include span-columns(7);
    @include shift(3);
  }
}
.article-who--play {
  @include media($medium-screen-up) {
    @include span-columns(6);
    @include shift(6);
  }
}
.article-how--left {
  @include media($medium-screen-up) {
    @include span-columns(6);
  }
}
.article-how--right {
  @include media($medium-screen-up) {
    @include span-columns(6);
    @include shift(6);
  }
}
