html {
  height: 100%;
}
.wf-loading {
  @include transition(opacity $pageTransition-time $pageTransition-ease);
  opacity: 0;
}
.wf-active,
.wf-inactive {
  opacity: 1;
}
body {
  background: $color-siteBackground;
  min-height: 100%;
  margin: 0;
  padding: $space-base * 2.5 0 0;
  position: relative;
}
hr {
  border-bottom: $border-solid;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $space-base 0;
}
.hr--flushBottom {
  margin-bottom: 0;
}
img,
picture {
  margin: 0;
  max-width: 100%;
}
section,
article,
footer {
  position: relative;
}
article {
  margin-top: $space-base;
}
.u-full {
  padding: $space-base * 2 0;
}
