html {
  height: 100%;
}
body {
  background: $color-siteBackground;
  min-height: 100%;
  margin: 0;
  padding: $space-base * 2.5 0 0;
  position: relative;
  overflow-x: hidden;
}
// text
.u-textTransformNone {
  text-transform: none;
}
// position
.u-relative {
  position: relative;
}
// floats
.u-right,
.u-floatRight {
  float: right;
}
.u-left,
.u-floatLeft {
  float: left;
}
.u-clearfix {
  @include clearfix;
}
// alignment
.u-textCenter {
  text-align: center;
}
.u-textLeft {
  text-align: left;
}
.u-textRight {
  text-align: right;
}
// spacing
.u-bottomless { // change to .u-noMarginTrail
  margin-bottom: 0;
}
.u-marginLead {
  margin-top: $space-base;
  @include media ($medium-screen) {
    margin-top: $space-base * 2;
  }
}
.u-paddingLead {
  padding-top: $space-base;
  @include media ($medium-screen) {
    padding-top: $space-base * 2;
  }
}
.u-marginTrail {
  margin-bottom: $space-base;
  @include media ($medium-screen) {
    margin-bottom: $space-base * 2;
  }
}
.u-paddingTrail {
  padding-bottom: $space-base;
  @include media ($medium-screen) {
    padding-bottom: $space-base * 2;
  }
}
.u-sidePadding {
  padding-right: $space-base * 2;
}
.u-sideMargin {
  margin-right: $space-base;
  margin-left: $space-base;
}
// display
.u-inlineBlock {
  display: inline-block;
}
.u-block {
  display: block;
}
.u-currencyField:before {
  content: "$";
}
.u-rarrIndent {
  margin-left: $space-base;
  text-indent: -$space-base;
}
// lists
.u-inlineListItem {
  @extend .u-inlineBlock;
  padding-right: $space-base;
}
hr {
  border-bottom: $border-solid;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $space-base 0;
}
.hr--flushBottom {
  margin-bottom: 0;
}
section,
article,
footer {
  position: relative;
}
article {
  margin-top: $space-base;
}
.article-who--work {
  @include media($medium-screen-up) {
    @include span-columns(6);
    @include shift(2);
  }
}
.article-who--write {
  @include media($medium-screen-up) {
    @include span-columns(7);
    @include shift(3);
  }
}
.article-who--play {
  @include media($medium-screen-up) {
    @include span-columns(6);
    @include shift(6);
  }
}
.article-how--left {
  @include media($medium-screen-up) {
    @include span-columns(6);
  }
}
.article-how--right {
  @include media($medium-screen-up) {
    @include span-columns(6);
    @include shift(6);
  }
}
