img,
picture {
  margin: 0;
  max-width: 100%;
}
.img-absolute--mediumUp {
  @include media($medium-screen-up) {
    position: absolute;
  }
}
.img--crab {
  transform: rotate(-35deg);
  max-width: 4rem;
  margin-top: -1rem;
  position: relative;
  left: 80vw;
  @include media($medium-screen-up) {
    position: absolute;
    transform: rotate(35deg);
    left: -7vw;
    top: 13vw;
    max-width: 6vw;
  }
}
.img--panther {
  position: absolute;
  right: -3rem;
  top: -11rem;
  max-width: 11rem;
  transform: rotate(-15deg);
  @include media($medium-screen-up) {
    top: 3vw;
    max-width: 36vw;
    right: -21vw;
  }
}
.img--avatar {
  float: left;
  max-width: 4.5rem;
  margin-right: $space-base/2;
  @include media($medium-screen-up) {
    position: absolute;
    margin-right: 0;
    float: none;
    left: -17vw;
    max-width: 10vw;
    top: 0vw;
  }
}
@include media($medium-screen-up) {
  .img--code {
    position: absolute;
    left: -13vw;
    top: 40vw;
    max-width: 34vw;
  }
  .img--cyc {
    width: 58vw;
    top: -28vh;
    right: -21vw;
  }
  .img--wagegoal {
    width: 42vw;
    top: -9vh;
    right: -11vw;
  }
  .img--pwc {
    width: 48vw;
    left: -12vw;
    top: -7vh
  }
}
