img,
picture {
  margin: 0;
  max-width: 100%;
}
.img-absolute--mediumUp {
  @include media($medium-screen-up) {
    position: absolute;
  }
}
.who-img {
  max-width: 10rem;
}
.img--crab {
  transform: rotate(35deg);
}
@include media($medium-screen-up) {
  .img--avatar {
    left: -17vw;
    max-width: 10vw;
    top: 0vw;
  }
  .img--panther {
    right: -21vw;
    top: 3vw;
    max-width: 36vw;
    transform: rotate(-15deg);
  }
  .img--code {
    left: -13vw;
    top: 40vw;
    max-width: 34vw;
  }
  .img--crab {
    left: -7vw;
    top: 13vw;
    max-width: 6vw;
  }
  .img--cyc {
    width: 58vw;
    top: -28vh;
    right: -21vw;
  }
  .img--wagegoal {
    width: 42vw;
    top: -9vh;
    right: -11vw;
  }
  .img--pwc {
    width: 48vw;
    left: -12vw;
    top: -7vh
  }
}
