.siteHead-logo {
  border: none;
  margin: 0;
  padding: 0;
  font-family: $fontFamily-heading;
  font-style: italic;
  font-weight: 700;
  color: $color-black;
  border-bottom: 0.5vh solid $color-gold;
  background-color: $color-white;
}
.siteHead-logoText {
  margin-top: $space-base;
  vertical-align: middle;
  width: auto;
}
.siteHead-wrap {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.siteHead {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: $zIndex-1;
}
