$color--logoOnDark: $color-white !default;
$color--siteHead: $color-blue !default;
$height--siteHead: $space-base * 3 !default;
$height--mobileBtn: $space-base !default;

.siteHead {
  background-color: $color--siteHead;
}
.siteHead-wrapper {
  border-bottom: solid 1px rgba($color--siteHead, .25);
  position: relative;
}
.siteHead-logo {
  cursor: pointer;
  float: left;
}
.siteHead-wordmark {
  color: $color--logoOnDark;
  font-size: modular-scale(1);
  line-height: $height--siteHead;
  margin: 0;
  text-transform: uppercase;
}
.siteHead-logo {
  border: none;
  margin: 0;
  padding: 0;
  font-family: $fontFamily-heading;
  font-style: italic;
  font-weight: 700;
  color: $color-black;
  border-bottom: 0.5vh solid $color-gold;
  background-color: $color-white;
}
.siteHead-logoText {
  margin-top: $space-base;
  vertical-align: middle;
  width: auto;
}
.siteHead-wrap {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.siteHead {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: $zIndex-1;
}


