.siteHead {
  @include shift(1);
  position: fixed;
  top: 0;
  z-index: $zIndex-2;
}
.siteHead-wrapper {
  border: none;
  margin: 0;
  max-width: none;
}
.siteHead-logo {
  border: none;
  margin: 0;
  padding: 0;
  font-family: $fontFamily-heading;
  font-style: italic;
  font-weight: 700;
  color: $color-black;
  border-bottom: 1vh solid $color-gold;
  background-color: $color-white;
}
.siteHead-logoText {
  margin-top: $space-base;
  vertical-align: middle;
  width: auto;
}
