@include media($medium-screen-up) {
  p {
    font-size: 1.5vw;
  }
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3, h4 {
    font-size: 2vw
  }
}
h1 {
  font-weight: 700;
  font-style: italic;
  line-height: 1.4;
}
h1, h2 {
  font-family: $fontFamily-heading;
  letter-spacing: $letterSpacing-tightest;
}
h4 {
  font-weight: 400;
}
.article-title {
  display: inline-block;
  position: relative;
  z-index: $zIndex-0;
  &:after {
    content: " ";
    width: 110%;
    height: 1vh;
    position: absolute;
    bottom: 1vh;
    left: 0;
    background: $color-gold;
    z-index: -1;
    @media screen and (min-width: 66em) {
      bottom: 1.4vh;
    }
  }
}
