// Letter spacings
// --------------------------------------------------
$letterSpacing-tightest: 0.6;
$letterSpacing-tighter: 0.8;
$letterSpacing-tight: 0.9;
$letterSpacing-normal: 1;
$letterSpacing-loose: 1.1;
$letterSpacing-looser: 1.4;
$letterSpacing-loosest: 1.7;

// Font weights and styles
@for $i from 1 through 9 {
  $w: $i * 100;
  .font-bodyN#{$i} {
    font-family: $fontFamily-body;
    font-style: normal;
    font-weight: $w;
  }
}
body {
  @extend .font-bodyN4;
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $color-body;
  font-size: modular-scale(0);
  line-height: $lineHeight-base;
}
@include media($medium-screen-up) {
  p {
    font-size: 1.5vw;
  }
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3, h4 {
    font-size: 2vw
  }
}
h1 {
  font-weight: 700;
  font-style: italic;
  line-height: 1.4;
}
h1, h2 {
  font-family: $fontFamily-heading;
  letter-spacing: $letterSpacing-tightest;
}
h4 {
  font-weight: 400;
}
.article-title {
  display: inline-block;
  position: relative;
  z-index: $zIndex-0;
  &:after {
    content: " ";
    width: 110%;
    height: 1vh;
    position: absolute;
    bottom: 1vh;
    left: 0;
    background: $color-gold;
    z-index: -1;
    @media screen and (min-width: 66em) {
      bottom: 1.4vh;
    }
  }
}
a {
  color: $color-azure;
  text-decoration: none;
  position: relative;
  @include transition(color $transition-time $transition-ease);
  &:hover {
    color: darken($color-azure, 20%)
  }
}
.link--text {
  white-space: nowrap;
  &:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: transparent;
    bottom: 0;
    left: 0;
    @include transition(width $transition-time $transition-ease);
  }
  &:hover {
    &:after {
      content: " ";
      width: 100%;
      background-color: $color-azure;
      @include transition(width $transition-time $transition-ease);
    }
  }
}

