@media screen and (min-width: 50em) {
  h3, h4, h5, h6, p {
    font-size: 2vw;
  }
  h1 {
    font-size: 5vw;
    font-weight: 700;
    font-style: italic;
  }
  h2 {
    font-size: 3vw;
  }
}

h1, h2 {
  font-family: $fontFamily-heading;
}
.article-title {
  display: inline-block;
  position: relative;
  z-index: $zIndex-0;
  &:after {
    content: " ";
    width: 110%;
    height: 1vh;
    position: absolute;
    bottom: 1vh;
    left: 0;
    background: $color-gold;
    z-index: -1;
  }
}
