// Letter spacings
// --------------------------------------------------
$letterSpacing-tightest: 0.6;
$letterSpacing-tighter: 0.8;
$letterSpacing-tight: 0.9;
$letterSpacing-normal: 1;
$letterSpacing-loose: 1.1;
$letterSpacing-looser: 1.4;
$letterSpacing-loosest: 1.7;

// Font weights and styles
@for $i from 1 through 9 {
  $w: $i * 100;
  .font-bodyN#{$i} {
    font-family: $fontFamily-body;
    font-style: normal;
    font-weight: $w;
  }
  .font-bodyI#{$i} {
    font-family: $fontFamily-body;
    font-style: italic;
    font-weight: $w;
  }
  .font-headingN#{$i} {
    font-family: $fontFamily-heading;
    font-style: normal;
    font-weight: $w;
  }
  .font-headingI#{$i} {
    font-family: $fontFamily-heading;
    font-style: italic;
    font-weight: $w;
  }
  .font-subHeadingN#{$i} {
    font-family: $fontFamily-serif;
    font-style: normal;
    font-weight: $w;
  }
  .font-subHeadingI#{$i} {
    font-family: $fontFamily-serif;
    font-style: italic;
    font-weight: $w;
  }
}
body {
  @extend .font-bodyN4;
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $color-body;
  font-size: modular-scale(0);
  line-height: $lineHeight-base;
}
